body {
    --md-primary-fg-color: purple;
}

.md-nav__link {
    justify-content: left;
}

.hannah {
    width: 1.5em;
    margin-right: 0.25em;
}

.hannah2 {
    margin-top: -0.25em;
    margin-bottom: -0.25em;
    margin-left: -0.25em;
    width: 2em;
}